<h2 class="important-topics-heading">Important Topics</h2>
<div class="important-topics-container">
<ul id="important-topics">
<li class="important-topics-item"><a href="#">Add some things that are important</a></li>
<li class="important-topics-item"><a href="#">And can be included on lots of different pages</a></li>
<li class="important-topics-item"><a href="#"> Defined in _includes/partials/important-topics.njk</a></li>
</ul>
</div>